numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors==0.5.3

numba==0.61.2

onnxruntime
pyparsing
importlib_metadata

xformers==0.0.24
faiss-gpu
pandas
prettytable
pytorch-lightning
pytorch-metric-learning
torchmetrics
pypose

opencv-python
scikit-learn==1.6.1